<html>
<head>
    <title>Private GPT</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Private GPT</h1>
        <form id="chat-form" method="POST" action="{% url 'main_view' %}">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" name="query" placeholder="Enter your query">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div id="response">
            {% if answer %}
                <h3>Answer:</h3>
                <p>{{ answer }}</p>

                {% if meta %}
                    <h3>Relevant Sources:</h3>
                    <ul>
                        {% for item in meta %}
                            <li>
                                <h4>{{ item.source }}</h4>
                                <p>{{ item.content }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.getElementById('chat-form').addEventListener('submit', function(event) {
            event.preventDefault();
            var form = event.target;
            var formData = new FormData(form);

            fetch(form.action, {
                method: 'POST',
                body: formData
            })
            .then(function(response) {
                console.log('response--', response)
                return response.json();
            })
            .then(function(data) {
                console.log('data---'JSON.parse(data))
                updateResponse(data);
            })
            .catch(function(error) {
                console.error('Error:', error);
            });
        });

        // Update the response div with the answer and relevant sources
        function updateResponse(data) {
            console.log('data---2', data)
            var responseDiv = document.getElementById('response');
            responseDiv.innerHTML = '';

            if (data.answer) {
                var answerHeader = document.createElement('h3');
                answerHeader.textContent = 'Answer:';
                responseDiv.appendChild(answerHeader);

                var answerParagraph = document.createElement('p');
                answerParagraph.textContent = data.answer;
                responseDiv.appendChild(answerParagraph);

                if (data.meta && data.meta.length > 0) {
                    var sourcesHeader = document.createElement('h3');
                    sourcesHeader.textContent = 'Relevant Sources:';
                    responseDiv.appendChild(sourcesHeader);

                    var sourcesList = document.createElement('ul');

                    data.meta.forEach(function(item) {
                        var sourceItem = document.createElement('li');

                        var sourceHeader = document.createElement('h4');
                        sourceHeader.textContent = item.source;
                        sourceItem.appendChild(sourceHeader);

                        var sourceContent = document.createElement('p');
                        sourceContent.textContent = item.content;
                        sourceItem.appendChild(sourceContent);

                        sourcesList.appendChild(sourceItem);
                    });

                    responseDiv.appendChild(sourcesList);
                }
            }
        }
    </script>
</body>
</html>
